#header
{
    height:80px;
    width:100%;
    border:1px solid black;
}
#side1
{
    float:left;
    border:1px solid black;
    width:20%;
    height:350px;
    display:inline;
}
#cen
{
    display:inline-block;
    width:59.6%;
    margin:auto;
    height:60px;
    border:1px solid black;
}
#side2
{
    float:right;
    border:1px solid black;
    width:20%;
    height:500px;
    display:inline;
    
}
#cen2
{
    display:inline;
    border:1px solid black;
    width:59.6%;
    height:438px;
    float:left;
}
#side3
{
    float:left;
    height:149px;
    width:20%;
    margin-top:-150px;
    border:1px solid black;
}
#main
{
    border:1px solid black;
    height:100;
    width:100%;
}